<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Framework" verbose="1">


	<test name="Automation: Hybrid">
		<classes>
			<class name="TestCase.ValidateOrderHistory" />
			<class name="TestCase.Logout"></class>
		</classes>
	</test>
</suite>
